body, html {
    height: 100%;
  }
  .container-fluid {
      background: green;
      background: rgb(5,89,174);
      background: linear-gradient(90deg, rgba(5,89,174,1) 49%, rgba(9,9,121,1) 93%); 
      
  }
  #header-title{
    text-align: center;
    color: white;

  }
  #header-title{
    font-family: 'Noto Sans', sans-serif;
  }
  
  .col-md-9 {
      background: white;  	
  }
  .sideBar{
      background-color: white;
  }
  #current{
    border: solid black 1px  ;
  }

  .historyBtn{
    margin-top: 20px;
  }
  .green{
    background-color: green;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;

  }
  .yellow{
    background-color: yellow;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .red{
    background-color: red;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }